@use "mixins" as *;

:root {
  --doc-height: 100vh; // fallback
}

body {
  display: grid;
  background-color: var(--bg);
  color: var(--fg);
  
  height: var(--doc-height);

  font-family: Azeret Mono;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content 1fr min-content;
  // justify-content: center;
  align-items: center;
  
  font-size: 0.8rem; 
}

header {
  border-bottom: 1px dashed var(--even-weekend);
  padding: 1em;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed var(--even-weekend);
  padding: 1em;

  h1 {
    font-size: 1.2em;
  }
  ul {
    display: flex;
    gap: 1em;
    align-items: center;
  }
}

aside {
  display: none !important;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 2em;
  overflow: scroll;
  grid-area: main;
}