/* --- */
/* theme */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
  --fg: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 100%);
  --even-weekday: hsl(180, 40%, 45%);
  --even-weekend: hsl(180, 45%, 65%);
  --odd-weekday: hsl(0, 0%, 15%);
  --odd-weekend: hsl(0, 0%, 60%);
  --highlight-weekday: hsl(0, 90%, 45%);
  --highlight-weekend: hsl(0, 70%, 70%);
}

body.dark {
  --bg: rgb(12, 12, 12);
  --fg: rgb(242, 242, 242);
  --even-weekday: rgb(237, 91, 91);
  --even-weekend: rgb(105, 32, 32);
  --odd-weekday: rgb(245, 245, 245);
  --odd-weekend: rgb(180, 180, 180);
  --highlight-weekday: rgb(72, 214, 181);
  --highlight-weekend: rgb(55, 128, 111);
}

/* --- */
/* general */

body {
  display: flex;
  background-color: var(--bg);
  color: var(--fg);
  height: 100vh;
  font-family: Azeret Mono;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  overflow: scroll;
}

/* --- */
/* calendar layout */

.row {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "left week right";
  gap: 2rem;
}

.row > .left {
  grid-area: left
}

.row > .right {
  grid-area: right
}

.row > .week {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  grid-area: week
}

.row > .week > li {
  text-align: center;
}

/* --- */
/* calendar colors */

.row .odd {
  color: var(--odd-weekday);
}

.row .odd.weekend,
.row > .odd.right {
  color: var(--odd-weekend);
}

.row .even {
  color: var(--even-weekday);
}

.row .even.weekend,
.row > .even.right {
  color: var(--even-weekend);
}

.row .highlight, 
.row > .highlight.right {
  color: var(--highlight-weekday);
}

.row .highlight.weekend,
.row > .highlight.right {
  color: var(--highlight-weekend)
}

/* --- */
/* calendar outlines */

.row .today, .row .selected {
  outline: 1px solid currentColor;
  outline-offset: 4px;
}

.row .today {
  border-radius: 1em;
}

.row li:hover {
  outline: 1px dashed currentColor;
  outline-offset: 4px;
  border-radius: 1em;
  cursor: pointer;
  user-select: none;
}

/* --- */
/* sidebar */

#sidebar-left {
  display: flex;
  flex-direction: column;
  background-color: rgb(205, 53, 53);
  color: var(--odd-weekday);
  padding: 2rem;
  gap: 1rem;
}

#sidebar-right {
  display: none;
}

.vsep {
  flex-grow: 1;
}

.form-couple {

}

button {
  border: 1px solid var(--odd-weekday);
  background: none;
  padding: 0.5em 1em;
  transition: transform 0.1s;

}
button:hover {
  transform: translateY(-2px);
  box-shadow: var(--even-weekend) 0px 2px;
  cursor: pointer;
}
button:active {
  background-color: rgb(235, 69, 69);
  transform: translateY(-1px);
  box-shadow: var(--even-weekend) 0px 1px;
}
button.flat {
  border: none;
  box-shadow: none;
  padding: 0;
  text-align: start;
}
button.flat:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: translateY(0);
}
button.flat:active {
  transform: translateY(0px);
}